* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  background: #104940;  
  color: #2b2b2b;
  line-height: 1.2;
}

.inlinebaba{
  color: red;
  font-weight: bolder;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(46, 105, 62, 0.9);
  box-shadow: 0 10px 60px rgba(13, 29, 12, 0.06);
}

.page-wrapper {
  padding: 60px 20px;
}


.content-box {
  max-width: 820px;
  margin: 80px auto;
  padding: 50px 60px;
  border-radius: 12px;
  /* background: #0f2f2a; */
  background: #143a33;
  box-shadow:
    /* 0 20px 60px rgba(0, 0, 0, 0.08), */
    0 0 100px rgba(97, 197, 108, 0.8);
    color: #e5e7eb;

}

/* Headings */
.content-box h1 {
  font-size: 2.2rem;
  margin-bottom: 25px;
}

.content-box h2 {
  font-size: 1.5rem;
  margin: 40px 0 15px;
}

/* Text */
.content-box p {
  margin-bottom: 20px;
  font-size: 1rem;
}

/* List */
.content-box ul {
  margin-top: 10px;
  padding-left: 20px;
}

.content-box li {
  margin-bottom: 12px;
}

/* CTA */
.cta {
  margin-top: 40px;
  padding: 18px;
  cursor: pointer;
  
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  
  background: linear-gradient(135deg, #4aff5ccc, #02a52d);
  color: rgb(243, 232, 212);

}

.header img{
  width: 300px;
  height: 50px;
  object-fit: contain;
}

.btn-primary{
  background: linear-gradient(135deg, #4aff5ccc, #02a52d);
  color: rgb(243, 232, 212);
  /* padding: 15px; */
  font-weight: 700;
  border: none;
  padding: 15px 23px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  
}


.video-wrapper {
  margin: 40px 0;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 80px rgba(0, 255, 76, 0.25);
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}

.site-footer {
  margin-top: 30px;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.08);
  text-align: center;
}

.footer-inner {
  max-width: 900px;
  margin: 0 auto;
}

.site-footer p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #9ca3af;
  margin-bottom: 12px;
}

.footer-links a {
  color: #6b7280;
  text-decoration: none;
  margin: 0 6px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-meta {
  font-size: 0.8rem;
  opacity: 0.8;
}
